@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz@16..144&family=Poppins:ital,wght@0,300;0,500;1,300;1,500&display=swap');

body {
    background-color: #092834;
}

article {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
    margin-bottom: 96px;
    background-color: #092834;
    color:#F0F7D4 ;
}

#comment h3 {
    color: #66B032;
    margin-bottom: 16px;
}

#comment h4 {
    color: #347B98;
    margin-bottom: 56px;
}

header {
    background-color:#66B032;
    color: white;
    padding: 144px;
    text-align: left;
}

.introduction {
    padding: 96px;
    columns: 2;
    column-gap: 96px;
    background-color: #092834;
    color: #B2D732;
}

#amateur {
    color: #347B98;
    text-align: left;
    height: 14em;
    position: relative;
}

#amateur h3 {
    text-align: left;
    font-size: 140px;
    position: absolute;
    bottom: 0px;
}

.longcontent {
    padding: 96px;
    columns: 2;
    column-gap: 96px;
    background-color: #F0F7D4;
    color: #092834;
}

.longcontent div {
    break-inside: avoid;
}

.longcontent h3 {
    color: #347B98;
}

.left {
    font-family:'Montagu Slab', 'serif';
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;
    margin: 0px 0px 16px 24px;
    max-width: 40rem;
    break-inside: avoid;
    text-align: left;
}

.remark  {
    color: #347B98;
}

.right {
    break-inside: avoid;
    text-align: right;
}

aside {
    break-inside: avoid;
}

.poem {
    padding: 0px 144px 144px 144px;
    columns: 2;
    column-gap: 64px;
    background-color: #B2D732;
    color: #092834;
}

.quote p {
    padding-top: 16px;
}

aside p {
    display: grid;
    box-sizing: border-box;
    border-bottom: solid 1px #B2D732;
    border-top: solid 1px #B2D732;
    margin-bottom: 0px;
    padding: 16px 0px 16px 0px;
}

.yousect {
    columns: 2;
    column-gap: 0;
    background-color: #66B032;
}

.yougreen {
    break-inside: avoid;
    background-color: #66B032;
    height: fill;
    padding:64px ;
}

.yougreen h3 {
    color:#B2D732;
}

.yougreen p {
    color: #F0F7D4;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 12px;
}

.youblue {
    break-inside: avoid;
    background-color: #092834;
    padding: 64px;
    object-fit: fill;
}

.youblue h3 {
    color: #347B98;
}

.youblue p {
    color: #F0F7D4;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 12px;
}

.envleft {
    text-align:left ;
    color: #347B98;
    margin-bottom: 8px;
}

.envright {
    text-align: right;
    color: #347B98;
    margin-bottom: 32px;
}

.dark {
    background-color: #092834;
    color: #F0F7D4;
    padding: 144px 0px 144px 0px;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #092834;
    color: #347B98;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.easteregg {
    opacity: 0%;
}

.column {
    flex: 1;
    font-family:'Montagu Slab', 'serif';
    font-size: 14px;
    color:#347B98;
    font-style: italic;
}

.darkcol {
    columns: 2;
    column-gap: 32px;
    background-color: #092834;
    color:#F0F7D4;
    padding: 144px 64px 144px 64px;
}

.darkcol section {
    break-inside: avoid;
}

.blue {
    background-color: #B2D732;
    padding: 144px;
    align-content:center ;
}

footer {
    background-color: #092834;
    color: #347B98;
    text-align: center;
    padding: 96px 64px 32px 64px;
}

em {
    font-style: italic;
}

strong {
    font-weight: 500; 
}


h1 {
    font-family:'Montagu Slab', 'serif';
    font-size: 72px;
    color:#092834;
    margin-bottom: 24px;
    max-width: 10ch;
}

h2 {
    font-family:'Montagu Slab', 'serif';
    font-size: 80px;
    margin-bottom: 16px;
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #F0F7D4;
    margin-bottom: 8px;
}

h3 {
    font-family:'Montagu Slab', 'serif';
    font-size: 40px;
    margin-bottom: 8px;
}

h4 {
    font-family:'Montagu Slab', 'serif';
    font-size: 24px;
    margin-bottom: 8px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.highlighted {
    font-family:'Montagu Slab', 'serif';
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;
    margin: 0px 0px 16px 24px;
    max-width: 40rem;
    color: #347B98;
}

.quote {
    font-family:'Montagu Slab', 'serif';
    font-size: 28px;
    color: #092834;
    font-style: italic;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    padding: 1;
    max-width: 48rem;
    align-content:center ;
}

a:link {
    color: #F0F7D4;
    text-decoration: none;
}

a:visited {
    color: #F0F7D4;;
    text-decoration: none;
}

a:hover {
    color: #347B98;
    text-decoration: none;
}

a:active {
    color: #347B98;
    text-decoration: none;
}

.nav {
    position: sticky;
    align-items: right;
    align-self: right;
    align-content: right;
    text-align: right;
    top: 0;
    padding: 12px 64px 12px 64px;
    background: #66B032;
}

nav button {
    margin-left: 16px;
    margin-right: 16px;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.top {
    background-color: #092834;
    padding: 0px 64px 0px 64px;
    text-align: right;
}

.top button {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}


