@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

p {
    color: red;
}

nav {
    position: sticky;
    text-align: right;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background: white;
  }