@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family:'Open Sans', sans-serif;
}

main {
    padding: 64px;
}

article {
    padding: 64px;
}

header {
    background-color:#a33d03;
    color: white;
    padding: 144px;
    text-align: center;
}

footer {
    background-color: black;
    color: #666;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

a:link {
    color: teal;
    text-decoration: none;
}

a:visited {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: fuchsia;
    text-decoration: none;
}

a:active {
    color: purple;
    text-decoration: none;
}

.nav {
    position: sticky;
    text-align: right;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 64px;
    padding-right:64px;
    background: white;
  }

nav span {
    margin-left: 8px;
    margin-right: 8px;
}

nav p {
    text-align: left;
    padding: 16px;
    margin: 32px;
}